<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageProject.master.cs" Inherits="MasterPageProject" %>

<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <!--basic styles-->
    <%--  <script src="Scripts/jquery-1.9.1.js" type="text/javascript"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/jquery-1.9.1.js") %>' type="text/javascript"></script>
    <%-- <script src='<%= Page.ResolveClientUrl("~/Scripts/jquery-2.1.0.js") %>' type="text/javascript"></script>--%>
    <link href="DesignCss/bootstrap.min.css" rel="stylesheet" />
    <link href="DesignCss/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="DesignCss/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="DesignCss/chosen.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
	  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
	<![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <link href="DesignCss/css.css" rel="stylesheet" />
    <!--ace styles-->
    <link href="DesignCss/ace.min.css" rel="stylesheet" />
    <link href="DesignCss/ace-responsive.min.css" rel="stylesheet" />
    <link href="DesignCss/ace-skins.min.css" rel="stylesheet" />
    <link href="DesignCss/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="Style/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="media/css/TableTools.css" rel="stylesheet" type="text/css" />
     <link href="DesignCss/viewer.css" rel="stylesheet" type="text/css" />
    <link href="DesignCss/menu.css" rel="stylesheet" type="text/css" />
    <link href="DesignCss/submenu-styles.css" rel="stylesheet" type="text/css" />
    <%--  <link href="DesignJS/PerfectScrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />--%>
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
    <!--inline styles if any-->
    <%--   <script type="text/javascript" src="DesignJS/jquery.min.js"></script>
    <script type="text/javascript" src="Scripts/Custom.js"></script>--%>
    <%--    <script src="Js/notification.js" type="text/javascript"></script>
    --%>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/Custom.js") %>' type="text/javascript"></script>
    <%-- <script src='<%= Page.ResolveClientUrl("~/DesignJS/PerfectScrollbar/perfect-scrollbar-0.4.5.with-mousewheel.min.js") %>'
    type="text/javascript"></script>--%>
    <%--<script src="DesignJS/ngram_id_dict.json" id="SF_ngram_call" type="text/javascript"></script>--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        div.ajax-loading
        {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999;
            background-color: white;
            opacity: 0.7;
            filter: alpha(opacity=70); /* ie */
            -moz-opacity: 0.7; /* mozilla */
            display: none;
        }
        div.ajax-loading *
        {
            background-color: white;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 1;
            filter: alpha(opacity=100); /* ie */
            -moz-opacity: 1; /* mozilla */
        }
        .logo
        {
            color: #fff;
            font-size: 20px;
            vertical-align: middle;
        }
    </style>
    <script language="javascript" type="text/javascript">
        //        $(document).ready(function myfunction() {
        ////            $('body').perfectScrollbar({ wheelSpeed: 50, minScrollbarLength: 20 });
        ////            //$('body').css('max-height', '700px');
        ////            $('body').height($(window).height());
        //        });

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxStop(function () {
            $("#loading").hide();
        });
      
    </script>
</head>
<body class="navbar-fixed">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
        <Services>
            <asp:ServiceReference Path="~/WebService.asmx" />
        </Services>
    </asp:ScriptManager>
    <asp:HiddenField ID="hdnuserid" runat="server" ClientIDMode="Static" />
    <asp:HiddenField ID="hdnusertype" runat="server" ClientIDMode="Static" />
    <div class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 0 8px 6px -6px black;">
        <div class="navbar-inner" style="background: #D6D6D6; height: 50px;">
            <div class="container-fluid">
                <a href="#" class="logo"><small>
                    <asp:Label ID="Lblusaernameanother" runat="server" Text=""></asp:Label>
                </small></a>
                <%--  <i class="icon-leaf logo"></i>&nbsp--%>
                <%--<img style="height: 40px; margin-top: 5px;" src="../image/cpt.jpg">--%>

                <img style="height: 40px; margin-top: 5px;" src='<%= Page.ResolveClientUrl("~/image/cpt.jpg") %>'>
                <!--/.brand-->
                <ul class="nav ace-nav pull-right">
                    <li class="light-blue user-profile" style="background: #A6A6A6;"><a data-toggle="dropdown"
                        href="#" class="user-menu dropdown-toggle">
                        <%--<img class="nav-user-photo" src=" <%= Page.ResolveClientUrl("~/Dashboard - Ace Admin_files/user.jpg") %>" alt="Ketan&#39;s Photo">--%>
                        <span id="user_info"><small>Welcome,</small><asp:Label ID="lblusername" runat="server"
                            Text=""></asp:Label>
                        </span><i class="icon-caret-down"></i></a>
                        <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer"
                            id="user_menu">
                            <%--<li><a href="#"><i class="icon-cog"></i>Settings </a></li>--%>
                            <li><a href="<%= Page.ResolveClientUrl("~/change_password.aspx") %>"><i class="icon-user">
                            </i>Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="<%= Page.ResolveClientUrl("~/Login.aspx?logout=2") %>"><i class="icon-off">
                            </i>LogOut </a></li>
                        </ul>
                    </li>
                    <%--<li class="grey"><a href="#" id="showSubMenuToggle"><i class="icon-caret-down"></i></a>
                    </li>--%>
                </ul>
                <!--/.ace-nav-->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.navbar-inner-->
    </div>
    <div id="sub-menu" style="background: #438eb9;" class="container-fluid well hide">
        <div class="row-fluid">
            <div id="div_admin" runat="server" class="span4" style="display: block;">
                <ul class="nav nav-list">
                    <li><a href="Expression_Evalutor.aspx">Expression Evaluator</a></li>
                    <li><a href="POUpload.aspx">PO Upload</a></li>
                    <li><a href="Material_Issue_New.aspx">Material Issue</a></li>
                    <li><a href="InvoicePerforma.aspx">invoice proforma</a></li>
                    <li><a href="Issue_item_report.aspx">Issue Item Report</a></li>
                </ul>
            </div>
            <div id="div_admin1" runat="server" class="span4" style="display: block;">
                <ul class="nav nav-list">
                    <li><a href="WO_FormulaLIST.aspx">WO Order Details</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div>
            <div class="span4">
                <ul class="nav nav-list">
                    <li><a href="FIM_Master.aspx">FIM Master</a></li>
                    <li><a href="FIM_SubGroup_Mst.aspx">FIM Sub Group Master</a></li>
                    <li><a href="SOTOFIM_Link.aspx">SO Mapping</a></li>
                    <li><a href="Cad_workflow_mst.aspx">CAD Workflow</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div>
            <div class="span3">
                <ul class="nav nav-list">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Link 5</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main-container">
        <a id="menu-toggler" href="#"><span></span></a>
        <div id="sidebar" class="sidebar sidebar-fixed fixed">
            <div id="sidebar-shortcuts">
                <div id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span><span class="btn btn-info"></span><span class="btn btn-warning">
                    </span><span class="btn btn-danger"></span>
                </div>
            </div>
            <!--#sidebar-shortcuts-->
            <ul id="admin_menu" style="display: none" runat="server" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Admin_dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>
                <%-- <li><a href="<%= Page.ResolveClientUrl("~/Calender.aspx") %>     "><i class="icon-book">
                </i><span>Time Table</span> </a></li>--%>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Master</span>
                    <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Registration.aspx") %>"><i
                            class="icon-double-angle-right"></i>User Entry</a></li>--%>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_upload.aspx")%>"><i class="icon-double-angle-right">
                        </i>Upload Master</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i
                            class="icon-double-angle-right"></i>User Modification</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>User Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i
                            class="icon-double-angle-right"></i>Course Master</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster_add.aspx")%>">
                            <i class="icon-double-angle-right"></i>Add New Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_instructor_mst.aspx")%>">
                            <i class="icon-double-angle-right"></i>Instructor Master</a></li>
                    </ul>
                </li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Transactions</span>
                    <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/change_sem_of_student.aspx") %>">
                            <i class="icon-double-angle-right"></i>Change Semester</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/student_fees_status.aspx") %>">
                            <i class="icon-double-angle-right"></i>Student Fees Entry</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Increase_seat_for_course.aspx") %>">
                            <i class="icon-double-angle-right"></i>Increase Seats</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Add_manually_allocation.aspx") %>">
                            <i class="icon-double-angle-right"></i>Add Manually course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_add_preassigned_course.aspx") %>">
                            <i class="icon-double-angle-right"></i>Add Pre Assigned course</a></li>
                        <%--   <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/change_after_course_allocation.aspx") %>">
                            <i class="icon-double-angle-right"></i>Change After Allocation</a></li>--%>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/reset_password.aspx") %>"><i
                            class="icon-double-angle-right"></i>Reset Password</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/send_email.aspx") %>"><i class="icon-double-angle-right">
                        </i>Send Email</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Generate_online_application.aspx") %>">
                            <i class="icon-double-angle-right"></i>Generate Online Transaction</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_print_payslip_student_wise.aspx") %>">
                            <i class="icon-double-angle-right"></i>Generate Payslip Student Wise</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Print_pay_slip_by_admin.aspx") %>">
                            <i class="icon-double-angle-right"></i>Print Payslip</a></li>
                    </ul>
                </li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Reports</span>
                    <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/total_selected_course_type_wise.aspx")%>">
                            <i class="icon-double-angle-right"></i>Total Selected Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/student_course_allocated_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course Allocation Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/student_course_registration_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course Registration</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_registration_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Registration Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_assigned_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Assigned Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_student_wise_course_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Student Wise Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_Allocated_Course_Detail.aspx")%>">
                            <i class="icon-double-angle-right"></i>Registered Course Priority</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Faculty_report.aspx")%>"><i
                            class="icon-double-angle-right"></i>Faculty Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_financial_reports.aspx")%>">
                            <i class="icon-double-angle-right"></i>Financial Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Cross_Registration_Repot.aspx")%>">
                            <i class="icon-double-angle-right"></i>Cross Registration F</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Cross_Registration_PG_UG_Report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Cross Registration PG-UG</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/total_course_offered_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Courses At Cept</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/faculty_wise_total_course_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Faculty wise CS and Cr</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frmcourse_type_offered.aspx")%>">
                            <i class="icon-double-angle-right"></i>COURSE TYPES OFFERED</a></li>
                    </ul>
                </li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Finance
                    Reports</span> <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_financial_reports.aspx")%>">
                            <i class="icon-double-angle-right"></i>Fee Collection Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Sale_of_admission_form.aspx")%>">
                            <i class="icon-double-angle-right"></i>Sale of admission Report</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="student_menu" runat="server" style="display: none" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/Student/Dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>
                <%--<li class="active"><a href="<%= Page.ResolveClientUrl("~/Student/Feedback_dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>--%>
                <li class=""><a href="#"><i class="icon-book"></i><span>Project Menu</span> </a>
                    <ul class="submenu" style="display: block;">
                            <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/ProposalProject.aspx") %>">
                            <i class="icon-double-angle-right"></i>Project Proposal</a></li>

                             <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/site_joining_report(SJR).aspx") %>">
                            <i class="icon-double-angle-right"></i>Site Joining Report(SJR)</a></li>

                           <%--  <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/Time_sheet.aspx") %>">
                            <i class="icon-double-angle-right"></i>Time sheet</a></li>--%>


                          <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/Student_Engagement_Schedule[SES].aspx") %>">
                            <i class="icon-double-angle-right"></i>Student Engagement Schedule Planned</a></li>


                          <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/Student_Engagement_Schedule[SES]_actual.aspx") %>">
                            <i class="icon-double-angle-right"></i>Student Engagement Schedule Actual</a></li>

                        <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/car.aspx") %>">
                            <i class="icon-double-angle-right"></i>CAR</a></li>


                           <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/preliminary_site_report.aspx") %>">
                            <i class="icon-double-angle-right"></i>preliminary site report</a></li>

                          <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/Final_report_upload.aspx") %>">
                            <i class="icon-double-angle-right"></i>Final Report Upload</a></li>

                           <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/week_report_menu.aspx") %>">
                            <i class="icon-double-angle-right"></i>Weekly Time Sheet</a></li>

                         <li><a href="<%= Page.ResolveClientUrl("~/ProjectTraining/Deadline.aspx") %>">
                            <i class="icon-double-angle-right"></i>Deadlines</a></li>


                    </ul>
                </li>
            </ul>
            <ul id="admin2_menu" runat="server" style="display: none" class="nav nav-list">
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Feedback
                    Report</span> <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/feedback_receipt_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Feedback Receipt Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/feedback_student_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Feedback Student Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/course_wise_feedback.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course wise Feedback</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/course_instructor_wise_feedback.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course instructor Feedback</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Feedback_report.aspx")%>"><i
                            class="icon-double-angle-right"></i>Feedback Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/feedback_faculty_member_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Feedback Faculty Member Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/feedback_instructor_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Instructor Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/feedback_course_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course Report</a></li>
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Modification</a></li>
                             <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Report</a></li>
                          <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Master</a></li>--%>
                    </ul>
                </li>
            </ul>
            <ul id="it_menu" runat="server" style="display: none" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/IT/IT_dashboard.aspx")
            %> "><i class="icon-home"></i><span>Dashboard</span> </a></li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-book"></i><span>Menu</span>
                    <b class="arrow
            icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="#"><i class="icon-double-angle-right"></i>Menu 1</a></li>
                        <li><a href="#"><i class="icon-double-angle-right"></i>Menu 2</a></li>
                        <li><a href="#"><i class="icon-double-angle-right"></i>Menu 3</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="admin1_menu" style="display: none" runat="server" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Admin_dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>
                <%-- <li><a href="<%= Page.ResolveClientUrl("~/Calender.aspx") %>     "><i class="icon-book">
                </i><span>Time Table</span> </a></li>--%>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Transactions</span>
                    <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/change_sem_of_student.aspx") %>">
                            <i class="icon-double-angle-right"></i>Change Semester</a></li>--%>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/student_fees_status.aspx") %>">
                            <i class="icon-double-angle-right"></i>Student Fees Entry</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Generate_online_application.aspx") %>">
                            <i class="icon-double-angle-right"></i>Generate Online Transaction</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Add_manually_allocation.aspx") %>">
                            <i class="icon-double-angle-right"></i>Add Manually course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Print_pay_slip_by_admin.aspx") %>">
                            <i class="icon-double-angle-right"></i>Print Payslip</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_add_preassigned_course.aspx") %>">
                            <i class="icon-double-angle-right"></i>Add Pre Assigned course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Upload_Fee_Collection.aspx") %>">
                            <i class="icon-double-angle-right"></i>Fee Collection Upload</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_print_payslip_student_wise.aspx") %>">
                            <i class="icon-double-angle-right"></i>Generate Payslip Student Wise</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Print_pay_slip_by_admin.aspx") %>">
                            <i class="icon-double-angle-right"></i>Print Payslip</a></li>
                        <%-- <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Increase_seat_for_course.aspx") %>">
                            <i class="icon-double-angle-right"></i>Increase Seats</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/reset_password.aspx") %>"><i
                            class="icon-double-angle-right"></i>Reset Password</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/send_email.aspx") %>"><i class="icon-double-angle-right">
                        </i>Send Email</a></li>--%>
                    </ul>
                </li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Course
                    Catalog </span><b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_instructor_mst.aspx")%>">
                            <i class="icon-double-angle-right"></i>Instructor Master</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i
                            class="icon-double-angle-right"></i>Edit Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster_add.aspx")%>">
                            <i class="icon-double-angle-right"></i>Add New Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_upload.aspx") %>"><i
                            class="icon-double-angle-right"></i>Upload Master</a></li>
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Modification</a></li>
                             <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Report</a></li>
                          <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Master</a></li>--%>
                    </ul>
                </li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Grading
                </span><b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Course_wise_entered_marks.aspx") %>">
                            <i class="icon-double-angle-right"></i>Course Wise Entered Marks</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Course_wise_avg_marks.aspx") %>">
                            <i class="icon-double-angle-right"></i>Course Wise Grade Range</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Student_wise_grade.aspx") %>">
                            <i class="icon-double-angle-right"></i>Student Wise Grade</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/GradeReport.aspx") %>"><i
                            class="icon-double-angle-right"></i>Grade Report</a></li>ugpgoffice Menu9 A
                        Kamlesh 2014-03-29 11:30:00 124 NULL NULL NULL
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Reports </span>
                    <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_course_catalog.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course Catalog</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Faculty_report.aspx")%>"><i
                            class="icon-double-angle-right"></i>Faculty Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/student_course_allocated_report.aspx")%>">
                            <i class="icon-double-angle-right"></i>Course Allocation Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Timetable.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Time Table</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="Finance" runat="server" style="display: none" class="nav nav-list">
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Finance
                    Report</span> <b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Fees_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>Fees Payment Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_financial_reports.aspx")%>">
                            <i class="icon-double-angle-right"></i>Fee Collection Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_financial_reports_SW.aspx")%>">
                            <i class="icon-double-angle-right"></i>Fee Collection Report SW</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/frm_financial_reports_course_wise_SW.aspx")%>">
                            <i class="icon-double-angle-right"></i>Finance Report(SW)</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Report/Sale_of_admission_form.aspx")%>">
                            <i class="icon-double-angle-right"></i>Sale of admission Report</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frm_print_payslip_student_wise.aspx") %>">
                            <i class="icon-double-angle-right"></i>Generate Payslip Student Wise</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Print_pay_slip_by_admin.aspx") %>">
                            <i class="icon-double-angle-right"></i>Print Payslip</a></li>
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Modification</a></li>
                             <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Report</a></li>
                          <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Master</a></li>--%>
                    </ul>
                </li>
            </ul>
            <ul id="Prog_Coord" runat="server" style="display: none;" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Admin_dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Course
                    Catalog </span><b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <%-- <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i
                            class="icon-double-angle-right"></i>Edit Course</a></li>--%>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster_add.aspx")%>">
                            <i class="icon-double-angle-right"></i>Add New Course</a></li>
                        <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_upload.aspx")%>"><i class="icon-double-angle-right">
                        </i>Upload Master</a></li>
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Modification</a></li>
                             <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Report</a></li>
                          <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Master</a></li>--%>
                    </ul>
                </li>
            </ul>
            <ul id="faculty" runat="server" style="display: none;" class="nav nav-list">
                <li class="active"><a href="<%= Page.ResolveClientUrl("~/Admin/Master/Admin_dashboard.aspx") %> ">
                    <i class="icon-home"></i><span>Dashboard</span> </a></li>
                <li class=""><a href="#" class="dropdown-toggle"><i class="icon-file"></i><span>Course
                    Catalog </span><b class="arrow icon-angle-down"></b></a>
                    <ul class="submenu" style="display: none;">
                        <%-- <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i
                            class="icon-double-angle-right"></i>Edit Course</a></li>--%>
                        <%--<li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster_add.aspx")%>"><i
                            class="icon-double-angle-right"></i>Add New Course</a></li>--%>
                        <%--<li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_upload.aspx")%>"><i
                            class="icon-double-angle-right"></i>Upload Master</a></li>--%>
                        <%--    <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/User_Modification.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Modification</a></li>
                             <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/user_master_report.aspx")%>"><i class="icon-double-angle-right">
                        </i>User Report</a></li>
                          <li><a href="<%= Page.ResolveClientUrl("~/Admin/Master/frmcoursemaster.aspx")%>"><i class="icon-double-angle-right">
                        </i>Course Master</a></li>--%>
                    </ul>
                </li>
            </ul>
            <!--/.nav-list-->
            <%--<div id="sidebar-collapse"> <i class="icon-double-angle-left"></i>
            </div>--%>
        </div>
        <div id="main-content" class="clearfix">
            <div id="page-content" class="clearfix">
                <div class="row-fluid">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <!--/#page-content-->
            <%--<div id="ace-settings-container">
                <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
                    <i class="icon-cog"></i>
                </div>
                <div id="ace-settings-box" class="">
                    <div>
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hidden" style="display: none;">
                                <option data-class="default" value="#438EB9">#438EB9</option>
                                <option data-class="skin-1" value="#222A2D">#222A2D</option>
                                <option data-class="skin-2" value="#C6487E">#C6487E</option>
                                <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select><div class="dropdown dropdown-colorpicker">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <ul class="dropdown-menu dropdown-caret">
                                        <li><a class="colorpick-btn selected" href="#" style="background-color: #438EB9;"
                                            data-color="#438EB9"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color: #222A2D;" data-color="#222A2D">
                                        </a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color: #C6487E;" data-color="#C6487E">
                                        </a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color: #D0D0D0;" data-color="#D0D0D0">
                                        </a></li>
                                    </ul>
                            </div>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>
                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" checked="checked">
                        <label class="lbl" for="ace-settings-header">
                            Fixed Header</label>
                    </div>
                    <div>
                        <input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" checked="checked">
                        <label class="lbl" for="ace-settings-sidebar">
                            Fixed Sidebar</label>
                    </div>
                </div>
            </div>--%>
            <!--/#ace-settings-container-->
        </div>
        <!--/#main-content-->
    </div>
    <!--/.fluid-container#main-container-->
    <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse"><i class="icon-double-angle-up icon-only bigger-110">
    </i></a>
    <%--<script type="text/javascript" src="DesignJS/jquery.min(1).js"></script>--%>
    <script type="text/javascript">
        // window.jQuery || document.write("<script src='assets/js/jquery-1.9.1.min.js'>" + "<" + "/script>");
    </script>
    <%--     <script src="DesignJS/bootstrap.min.js"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/bootstrap.min.js") %>' type="text/javascript"></script>
    <!--page specific plugin scripts-->
    <!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
    <%--  <script type="text/javascript" src="DesignJS/ace-elements.min.js"></script>
    <script type="text/javascript" src="DesignJS/ace.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="DesignJS/fullcalendar.min.js"></script>
    <script type="text/javascript" src="DesignJS/bootbox.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.easy-pie-chart.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.flot.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="DesignJS/jquery.flot.resize.min.js"></script>
    <script src="Js/general.js" type="text/javascript"></script>
    <script src="DesignJS/chosen.jquery.min.js" type="text/javascript"></script>
    --%>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/ace-elements.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/ace.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery-ui-1.10.3.custom.min.js") %>'
        type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.ui.touch-punch.min.js") %>'
        type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/fullcalendar.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/bootbox.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.slimscroll.min.js") %>'
        type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.easy-pie-chart.min.js") %>'
        type="text/javascript"></script>
    <%--   <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.sparkline.min.js") %>'
        type="text/javascript"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.flot.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.flot.pie.min.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.flot.resize.min.js") %>'
        type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/Js/general.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/chosen.jquery.min.js") %>' type="text/javascript"></script>
    <!--ace scripts-->
    <%--  <script src="Scripts/jquery-ui.js" type="text/javascript"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/jquery-ui.js") %>' type="text/javascript"></script>
    <%-- <script src="Scripts/jquery.dataTables.min.js" type="text/javascript"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/jquery.dataTables.min.js") %>'
        type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/DesignJS/jquery.dataTables.columnFilter.js") %>'
        type="text/javascript"></script>
    <%-- <script src="media/js/ZeroClipboard.js" type="text/javascript"></script>
    <script src="media/js/TableTools.js" type="text/javascript"></script>--%>
    <%--<script src="Scripts/dataTables.bootstrap.js" type="text/javascript"></script>--%>
    <script src='<%= Page.ResolveClientUrl("~/Scripts/dataTables.bootstrap.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/Js/js/ZeroClipboard.js") %>' type="text/javascript"></script>
    <script src='<%= Page.ResolveClientUrl("~/Js/js/TableTools.js") %>' type="text/javascript"></script>
    <!--inline scripts related to this page-->
    <div class="tooltip top in" style="top: 292px; left: 1104px; display: none;">
        <div class="tooltip-inner">
            direct traffic : 18.6%</div>
    </div>
    <script type="text/javascript">
      
    </script>
    <sfmsg id="sfMsgId" data="{&quot;imageCount&quot;:0,&quot;ip&quot;:&quot;1.1.1.1&quot;}"></sfmsg>
    </form>
    <div id="loading" class="ajax-loading" style="height: 100%; width: 100%; vertical-align: middle;
        text-align: center">
        <img src='<%= Page.ResolveClientUrl("~/image/301 (2).gif") %>' style="margin-top: 25%"
            alt="Loading please wait......" />
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20789883-14', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>

