<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ServerLogFile" value="C:\CEPTPROJECT\CEPT_REG\CEPT\LogDetails\log.txt" />
    <add key="ThemeLogFile" value="C:\CEPTPROJECT\CEPT_REG\CEPT\LogDetails\ThemeLog.txt" />
    <add key="InvalidLoginLogFile" value="C:\CEPTPROJECT\CEPT_REG\CEPT\LogDetails\InvalidLog.txt" />
    <add key="ExceptionLogFile" value="C:\CEPTPROJECT\CEPT_REG\CEPT\LogDetails\ExceptionLog.txt" />
    <add key="UserProfilePhotoPath" value="~/UserProfilePhoto" />
    <add key="UserPayslipPath" value="~/UploadPayslip" />
    <add key="VFAcceptanceUploadPath" value="~/VFAcceptanceUpload" />
    <add key="WSVFAcceptanceUploadPath" value="~/VFAcceptanceUpload" />
    <add key="VFAcceptanceUploadMaxSize" value="524288" />
    <add key="UserProfilePhotoMaxSize" value="512000" />
    <!--<add key="UserCPOPProfilePhotoPath" value="C:\inetpub\wwwroot\CPOP\UserProfilePhoto"></add>-->
    <add key="UserCPOPProfilePhotoPath" value="D:\CEPT_Kamlesh_Latest\CEPT_POP\CEPT_POP\UserProfilePhoto" />
    <add key="UserCPOPProfilePhotoMaxSize" value="204800" />
    <add key="UserPersonalPhotoPath" value="~/UserPersonalPhoto" />
    <add key="InstructorCVUploadPath" value="~/InstructorCVUpload" />
    <add key="InstructorCVUploadMaxSize" value="2097152" />
    <add key="InstructorPortfolioUploadPath" value="~/InstructorPortfolioUpload" />
    <add key="InstructorPortfolioUploadMaxSize" value="51244000" />
    <add key="TAReferenceLetterUploadPath" value="~/TAReferenceLetter" />
    <add key="TAReferenceLetterUploadMaxSize" value="51244000" />
    
    <add key="InstructorStudioProposalUploadPath" value="~/StudioDetails" />
    <add key="InstructorStudioProposalUploadMaxSize" value="254279680" />
    <add key="InstructorStudioBriefUploadMaxSize" value="254279680" />
    <add key="FileSize" value="10" />
    <add key="FolderPath" value="~/UploadFiles" />
    <add key="CourseBudget" value="~/CourseBudget" />
    <add key="GoogleFolderPath" value="~/UploadGoogleFiles" />
    <add key="ClearanceDocPath" value="~/ClearanceDocs" />
    <add key="ServerLogFile" value="log.txt" />
    <add key="ThemeLogFile" value="ThemeLog.txt" />
    <add key="InvalidLoginLogFile" value="InvalidLog.txt" />
    <add key="AttendancePdf" value="~/AttendancePdfUpload" />
    <add key="AttendancePdfUploadMaxSize" value="2097152" />
    <!--Mayur-->
    <add key="DRPTopicPDF" value="~/DRPTopicBriefDocs" />
    <add key="DRPTopicBriefDocs" value="2097152" />
    <!--Mayur-->
    <add key="User_fees_error" value="User_fees_error.txt" />
    <add key="ExceptionLogFile" value="ExceptionLog.txt" />
    <add key="CommitGradeLogFile" value="CommitGradeLog.txt" />
    <add key="User_fees_Log" value="User_fees_Log.txt" />
    <!--Mayur-->
    <add key="PaymentTransactionLogFile" value="PaymentTransactionLog.txt" />
    <add key="MinimumSession" value="1" />
    <add key="MaximumSession" value="5000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <!--<add key="email" value="aarin.info@gmail.com"/>
    <add key="password" value="Aarin@123"/>-->
    <add key="email" value="donotreply@cept.ac.in" />
    <add key="summer_winter" value="summerwinterschool@cept.ac.in" />
    <add key="password" value="vyujpnmbkllqrujz" />  <!--cept2014-->
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="CourseImageUploadPath" value="~/CourseImageUpload" />
    <add key="CourseImageUploadMaxSize" value="1048576" />
    <add key="WSCourseImageUploadPath" value="~/WSCourseImageUpload" />
    <add key="WSCourseImageUploadMaxSize" value="1048576" />
    <add key="WSInstructorPhotoPath" value="~/UserPersonalPhoto" />
    <add key="WSInstructorPhotoMaxSize" value="524288" />
    <add key="FacultyProfileCVUploadPath" value="~/UploadFacultyProfileCV" />
    <add key="FacultyProfileCVUploadMaxSize" value="5242880" />
    <add key="WSPortfolioImageUploadPath" value="~/WSPortfolioImageUpload" />
    <add key="WSPortfolioImageUploadMaxSize" value="1048576" />
    <add key="WSNewsImageUploadPath" value="~/WSNewsImageUpload" />
    <add key="WSNewsImageUploadMaxSize" value="5242880" />
    <add key="DepartmentFeedbackPDFUploadPath" value="~/UploadDepartmentFeedbackPDF/UploadedPDF" />
    <add key="DepartmentFeedbackPDFUploadMaxSize" value="10485760" />
    <add key="BTG_email" value="donotreply@cept.ac.in" />
    <add key="BTG_password" value="cept2014" />
    <add key="projectProposalPath" value="~/ProjectTraining/project_proposal_upload" />
    <add key="projectProposalMaxSize" value="5242880" />
    <add key="SiteJoinReportPath" value="~/ProjectTraining/site_join_report_upload" />
    <add key="SiteJoinReportPathMaxSize" value="5242880" />
    <add key="project_Actual_Path" value="~/ProjectTraining/actual_upload" />
    <add key="project_actual_MaxSize" value="5242880" />
    <add key="project_PSR_Path" value="~/ProjectTraining/PSR" />
    <add key="project_PSR_MaxSize" value="15242880" />
    <add key="project_final_report_path" value="~/ProjectTraining/final_upload" />
    <add key="project_final_report_MaxSize" value="5242880" />
    <add key="project_car_report_path" value="~/ProjectTraining/car" />
    <add key="project_car_report_MaxSize" value="5242880" />
    <add key="NON_FacultyProfile_EXP_UploadPath" value="~/Experience_certificate" />
    <add key="NON_FacultyProfile_eductioncertificate_UploadPath" value="~/Education_Certificate" />
    <add key="UploadExcel_Alumni" value="~/AlumniUploadExcel" />
    <add key="FeesSlip" value="~/FeesSlip" />
    <add key="BonafideIdProofPath" value="~/BonafideIdProof" />
    <add key="BonafideIdProofMaxSize" value="2097152" />
    <add key="MedicalCertificatePath" value="~/MedicalCertificate" />
    <add key="AntiraggingPath" value="~/Antiragging" />
    <add key="MedicalAntiraggingMaxSize" value="5242880" />
    <add key="BirthCertificatePath" value="~/BirthCertificate" />
    <add key="SchoolLeavingCertificatePath" value="~/SchoolLeavingCertificate" />
    <add key="CovidVaccineCertificatePath" value="~/CovidVaccineCertificate" />
    <add key="ConsentFormPath" value="~/ConsentForm" />
    <add key="BirthSchoolVaccineMaxSize" value="5242880" />
    <add key="StudentPersonalPhotoPath" value="~/UserProfilePhoto" />
    <add key="InstructorPassportUploadMaxSize" value="1000000" />
    <add key="InstructorPassportUploadPath" value="~/Passport" />
    <add key="InstructorOCICardUploadMaxSize" value="1000000" />
    <add key="InstructorOCICardUploadPath" value="~/OCICard" />
    <add key="InstructorCOACardUploadMaxSize" value="1000000" />
    <add key="InstructorCOACardUploadPath" value="~/COACard" />
    <add key="InstructorAADHAARCardUploadMaxSize" value="1000000" />
    <add key="InstructorAADHAARCardUploadPath" value="~/AadhaarCard" />
    <add key="ExercisesUploadMaxSize" value="50000000" />
    <add key="ExercisesUploadPath" value="~/ExercisesPDF" />
    <add key="InstructorWorkExperiencecertificateuploadMaxSize" value="1000000" />
    <add key="InstructorWorkExperiencecertificateuploadPath" value="~/InstructorWorkExperiencecertificate" />

	  <add key="HostelFeesDocPath" value="~/HostelFeesDoc" />
	  <add key="HostelFeesMaxSize" value="5242880" />

	  <add key="UserUploadDocumnet" value="~/UserUploadDocumnet/" />
	  <add key="UserUploadDocumnetMaxSize" value="2097152" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=mitesh;
    Initial Catalog=CASDESIGN;Persist Security Info=True;User ID=sa;Password=m_pradeep2411;Max Pool Size=200; Connection Timeout=700000"  providerName="System.Data.SqlClient"/>-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=LocalHost;Initial Catalog=democept;Persist Security Info=True;User ID=root;Password=m_pradeep2411;Max Pool Size=200; Connection Timeout=300000" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=LocalHost;Initial Catalog=democept;Persist Security Info=True;User ID=root;Password=m_pradeep2411;Max Pool Size=200; Connection Timeout=300000" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DATASERVER\SQLEXPRESS;Initial Catalog=CEPT_Reg_latest;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=FWSERVER2\SQL2008R2;Initial Catalog=CEPT_Reg_Latest1;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=MDRA02;Initial Catalog=CEPT_REGISTRATION;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=ADMIN-PC\MAYUR;Initial Catalog=CEPT_Registration;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-LE24IFN;Initial Catalog=CEPT_Registration;Persist Security Info=True;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient" />-->
    <!-- <add name="SBSSNDConnectionString" connectionString="Data Source=WINDOWS-AH6CCAR\FW5;Initial Catalog=CEPT_REG;Persist Security Info=True;User ID=sa;Password=fw@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=FW5;Initial Catalog=BKUP_CEPT_REGISTRATION20220214;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-VEKFGPV;Initial Catalog=CEPT_Registration;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-VEKFGPV;Initial Catalog=CEPT_Registration;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!-- <add name="SBSSNDConnectionString" connectionString="Data Source=FW5;Initial Catalog=CEPT_Registration;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!-- <add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=BKUP_CEPT_REGISTRATION20220426;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=CEPT_Registration;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=FW5;Initial Catalog=CEPT_Registration;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-4NPATEE;Initial Catalog=BKUP_CEPT_REGISTRATION20211210;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!-- <add name="SBSSNDConnectionString" connectionString="Data Source=FW5;Initial Catalog=CEPT_Registration;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=FW5;Initial Catalog=CEPT_Registration;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-4NPATEE;Initial Catalog=BKUP_CEPT_REGISTRATION20211210;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=27.109.12.252;Initial Catalog=CEPT_REG;User ID=sa;Password=R@dhey@016" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=WIN-GJB8GKG0WNS;Initial Catalog=CEPT_REG_TEST_2;Persist Security Info=True;User ID=sa;Password=cept$04@2014;Min Pool Size=5;Max Pool Size=1024;Pooling=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=192.169.13.128;Initial Catalog=CEPT_REGISTRATION;Persist Security Info=True;User ID=sa;Password=cept$04@2014;Min Pool Size=5;Max Pool Size=1024;Pooling=true;Connection Timeout=700000" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=WINDOWS-F7OO0IO\SQLEXPRESS;Initial Catalog=CEPT_Registration_15032022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=WINDOWS-F7OO0IO\SQLEXPRESS;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=WINDOWS-F7OO0IO\SQLEXPRESS;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=WINDOWS-F7OO0IO\SQLEXPRESS;Initial Catalog=CEPT_Registration_14022022;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    
	  
	  <add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-6RHHSG6;Initial Catalog=CEPT_REGISTRATION20251111;Integrated Security=true" providerName="System.Data.SqlClient" />

	  <!--<add connectionString="Data Source=104.211.138.53;Initial Catalog=FlexiConnect;Persist Security Info=True;User ID=sa;Password=R@dhey@016;" name="SBSSNDConnectionString" providerName="System.Data.SqlClient" />-->
    
	  
	  <!--<add name="SBSSNDConnectionString" connectionString="Data Source=DESKTOP-PU5PVRV;Initial Catalog=BKUP_CEPT_REGISTRATION20220426;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <add name="CEPT_Admission" connectionString="Data Source=104.211.138.53;Initial Catalog=CEPT_Admission_New;Persist Security Info=True;User ID=sa;Password=R@dhey@016;" providerName="System.Data.SqlClient" />
    <!--<add name="SBSSNDConnectionString" connectionString="Data Source=prashant-laptop\SQLEXPRESS;Initial Catalog=CASDESIGN;Persist Security Info=True;User ID=sa;Password=m_pradeep2411;Max Pool Size=200; Connection Timeout=700000"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="214748364" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="1800" maxRequestLength="102400" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="admin" password="adminpwd" />
          <user name="coder" password="coderpwd" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <!--After checking username and password ,Allow the user 'admin'and don't allow the user 'coder'-->
      <allow users="User" />
      <deny users="coder" />
    </authorization>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState timeout="120" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>-->
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	  <!--<httpCookies requireSSL="true" httpOnlyCookies="true" /> --><!--Changes 06112025--><!--
	  <httpRuntime enableVersionHeader="false" />--><!--Changes 06112025-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>