.cssmenu ul, .cssmenu li, .cssmenu span, .cssmenu a
{
	margin: 0;
	padding: 0;
	position: relative;
	padding: 0 0px;
	line-height: 15px;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
}
.cssmenu
{
	line-height: 1;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: #fff;
	width: auto;
}
.cssmenu:after, .cssmenu ul:after
{
	content: '';
	display: block;
	clear: both;
}
.cssmenu a
{
	background: #fff;
	color: #000;
	display: block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	padding: 19px 20px;
	text-decoration: none;
}
.cssmenu ul
{
	list-style: none;
}
.cssmenu > ul > li
{
	display: inline-block;
	float: left;
	margin: 0;
	width: 14%;
	text-align: center;
	
}
.cssmenu.align-center
{
	text-align: center;
}
.cssmenu.align-center > ul > li
{
	float: none;
}
.cssmenu.align-center ul ul
{
	text-align: left;
}
.cssmenu.align-right > ul
{
	float: right;
}
.cssmenu.align-right ul ul
{
	text-align: right;
}
.cssmenu > ul > li > a
{
	color: #000;
	font-size: 16px;
	padding: 0px;
}

.cssmenu > ul > li > a > span
{
	color: #717070;
	font-family:Segoe UI;
	font-size: 17px;
	background: none;
	line-height: 33px;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
	text-align: center;
	min-width: 106px;
}

.cssmenu > ul > li > a > span:hover
{
	color: Black;
	font-weight:bold;
}

#main > ul > li > a > span:hover
{
	color: #5B9BD5;
	font-weight:normal;
}

.cssmenu > ul > li:hover:after
{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -10px;
}

.cssmenu > ul > li:first-child > a
{
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
.cssmenu.align-right > ul > li:first-child > a, .cssmenu.align-center > ul > li:first-child > a
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.cssmenu.align-right > ul > li:last-child > a
{
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
.cssmenu > ul > li.active > a, .cssmenu > ul > li:hover > a
{
	color: #000;
	background: #fff;
}
.cssmenu .has-sub
{
	z-index: 1;
}
.cssmenu .has-sub:hover > ul
{
	display: block;
}
.cssmenu .has-sub ul
{
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	text-align: left;
}
.cssmenu.align-right .has-sub ul
{
	left: auto;
	right: 0;
}
.cssmenu .has-sub ul li
{
	margin-bottom: -1px;
}
	.cssmenu .has-sub ul li a {
		background: #5B9BD5;
		border-bottom: 1px solid #000;
		font-size: 11px;
		filter: none;
		display: block;
		line-height: 120%;
		padding: 10px;
		color: #000;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
		/*20012022*/
		width: 164% !important;
	}
.cssmenu .has-sub ul li:hover a
{
	background: #5B9BD5;
}
.cssmenu ul ul li:hover > a
{
	color: #ffffff;
}
.cssmenu .has-sub .has-sub:hover > ul
{
	display: block;
}
.cssmenu .has-sub .has-sub ul
{
	display: none;
	position: absolute;
	left: 101%;
	top: 0;
}
.cssmenu.align-right .has-sub .has-sub ul, .cssmenu.align-right ul ul ul
{
	left: auto;
	right: 100%;
}
.cssmenu .has-sub .has-sub ul li a
{
	background: white;
	border-bottom: 1px solid #000;
}
.cssmenu .has-sub .has-sub ul li a:hover
{
	background: #ffd27f;
}
.cssmenu ul ul li.last > a, .cssmenu ul ul li:last-child > a, .cssmenu ul ul ul li.last > a, .cssmenu ul ul ul li:last-child > a, .cssmenu .has-sub ul li:last-child > a, .cssmenu .has-sub ul li.last > a
{
	border-bottom: 0;
}

#kamlesh
{
	font: normal normal normal 16px/1.4em arial, 'ｍｓ ｐゴシック' , 'ms pgothic' , '돋움' ,dotum,helvetica,sans-serif;
}

#quickaccess > ul > li > a > span
{
	margin-top: 3px;
	color: #717070;
	font-family: Segoe UI;
	font-size: 17px;
	background: none;
	line-height: 33px;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
	text-align: center;
	min-width: 106px;
}

#quickaccess > ul > li > a
{
	text-decoration: none;
}

.copyright
{
	font-size: 12px;
	background: #ddd;
	position: fixed;
	bottom: 0px;
	z-index: 11;
	margin-top: 10px;
}

.current
{
	background: blue;
	color: White;
}

#main_manu > li:hover
{
	border-bottom: 5px solid #5B9BD5;
}

#main_manu > li
{
	border-left :1px solid rgba(95, 95, 97, 1);
}

#main_manu > li > a > span
{
	line-height: 20px;
	font-size: 12px;
}

#divMenuAdmin > ul > li
{
	border-top: 5px solid white;
}

#divMenuAdmin > ul > li > a > span
{
	text-transform: uppercase;
	font-size: 14px;
}

.cssmenu span:hover
{
	color: black;
}

#divMenuAdmin > ul > li:hover
{
	color: Black;
	border-top: 5px solid #5B9BD5;
}
.color_2
{
	color: #717070;
	font: Segoe UI;
	font-size: 12px;
	text-decoration: none;
}

